<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <form action="/register" method="POST">
        <div class="form-container">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" placeholder="Enter your first name">

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" placeholder="Enter your last name">

        <label for="role">Designation:</label>
        <input type="text" id="role" name="role" placeholder="Enter your job role">

        <label for="tel">Contact Number:</label>
        <input type="tel" id="tel" name="tel" placeholder="Enter your phone number">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email address">

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" placeholder="Enter a brief description">

        <button type="submit">Register</button>
     </div>
    </form>
</body>
</html>